---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="武汉费斯德生物科技有限公司" description="NewEast Biosciences 中国办事处官方网站">
	<Card
	  name="NewEast Biosciences"
	  position="武汉费斯德生物科技有限公司<br>是美国 NewEast Biosciences 在中国的办事处"
	  aboutMe={`如需咨询产品购买相关信息，请扫描右侧企业微信二维码与销售顾问取得联系。 <br>如需了解产品信息，敬请访问 neweastbio.net 查阅更多。`}
	  profileImage="/images/profile2.jpg"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->
